<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>home</param-value>
    </context-param>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>fa/fontawesome-webfont</mime-type>
    </mime-mapping>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/home.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Tesoureiro</web-resource-name>
            <description/>
            <url-pattern>/telas/tesouraria/*</url-pattern>
            <url-pattern>/home.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tesoureiro</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>UserContraint</display-name>
        <web-resource-collection>
            <web-resource-name>Secretario</web-resource-name>
            <description>User vai usar aqui</description>
            <url-pattern>/telas/secretaria/*</url-pattern>
            <url-pattern>/home.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>secretario</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/erro.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Faz o trabalho da secretaria</description>
        <role-name>secretario</role-name>
    </security-role>
    <security-role>
        <description>Trabalha com dinheiro</description>
        <role-name>tesoureiro</role-name>
    </security-role>
</web-app>
